@import url("https://fonts.googleapis.com/css?family=Nunito");

body {
    background-color: white;
}

td {
	color: orange;
	font-family: 'Nunito', sans-serif;
	text-align: center;
	font-size: 25;
	text-shadow: 1px 1px 1px black;
}

#tzA3 {
/* title */
	font-size: 40;
	color: black;
}

#tzA14 {
	/* sub titles */
	font-size: 35;
	color: grey;
}

#tzA15 {
	/* sub titles */
	font-size: 35;
	color: grey;
}

#tzA16 {
	/* sub titles */
	font-size: 35;
	color: grey;
}

#tzA17 {
	/* sub titles */
	font-size: 35;
	color: grey;
}

#tzA18 {
	/* sub titles */
	font-size: 35;
	color: grey;
}

#tzA23 {
    /* sub titles */
    font-size: 35;
    color: grey;
}